* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_header { 
  z-index: 2;
  text-align: center;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  min-height: 50px;
  position: sticky;
}

.main_het {
  width: 100%;
  margin: 0 0 0 auto;
  font-size: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.ground {
  display: grid;
  padding: 0 20px;
  justify-items: center;
  gap: 15px;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}

@media screen and (max-width: 1270px) {
  .ground {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 975px) {
  .ground {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.menu { 
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 20rem;
  list-style: none;
}

.card-img-top {
  max-height: 280px;
}

